#scroll-percentage {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 28px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 225rem;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 1000;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  font-size: x-large;
  font-weight: 700;
}
body {
  font-family: "Roboto", sans-serif;
}

.bg-color-1 {
  background-color: #4FC3F7;
  transition: background-color 0.5s ease;
}
.bg-color-2 {
  background-color: #4CAF50;
  transition: background-color 0.5s ease;
}
.bg-color-3 {
  background-color: #FFA726;
  transition: background-color 0.5s ease;
}
.bg-color-4 {
  background-color: #D32F2F;
  transition: background-color 0.5s ease;
}
